<h1>Sentence Similarity with TensorFlow.js Sentence Encoder</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Find similar sentences</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex="50%">
        <p>
          Have you wondered how search engines understand your queries and match the relevant results? How chatbot extract your intent from your questions and provide the most appropriate response?
        </p>
        <p>
          Universal Sentence Encoder <a href="https://arxiv.org/pdf/1803.11175.pdf" target="_blank">(Cer et al., 2018)</a> is a language model that encodes text into fixed-length embeddings. It aims <b>to convert sentences into semantically-meaningful dense real-valued vectors</b>.
        </p>
        <p>
          Try the demo with your own list of sentences. [<a href="https://github.com/jinglescode/demos/tree/master/src/app/components/nlp-sentence-encoder" target="_blank">read more</a>]
        </p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>

      <div fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Input Sentences</mat-label>
          <textarea matInput rows="20" placeholder="sentences" [(ngModel)]='input_sentences'></textarea>
          <mat-hint>Every line is a sentence</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Threshold</mat-label>
          <input matInput placeholder="between 0 to 1" [(ngModel)]='input_threshold'>
          <mat-hint>Sentences with similarity score higher than threshold are grouped together</mat-hint>
        </mat-form-field>
        <div>
          <div style="float:left">
            <button mat-raised-button color="primary" (click)="onClickAnalyzeSentences()" [disabled]="analyzing_text">
              Fetch Data
              <mat-icon matTooltip="If disabled: 1) downloading language model from storage.googleapis.com (if may take awhile), 2) analyzing sentences">info</mat-icon>
            </button>
          </div>
          <div style="float:left; padding:5px;" [hidden]="!analyzing_text">
            <mat-spinner [diameter]="30" [hidden]="!analyzing_text"></mat-spinner>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Grouping Results</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="column" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div>
        <div [innerHTML]='output_resultshtml'></div>
      </div>
      <div>
        <plotly-plot class="mat-elevation-z6" [data]="plotly_heatmap" [layout]="plotly_heatmap.layout" [useResizeHandler]="true" [style]="{width: '100%', height: '100%'}"></plotly-plot>
      </div>
    </div>

  </mat-card-content>
</mat-card>
