
<h1>
  <div [hidden]="!environment.is_game_over()">
    <div [hidden]="environment.winner==0">
      Game ended, player {{environment.winner==1?'X':'O'}} won
    </div>
    <div [hidden]="environment.winner!=0">
      Tie
    </div>
  </div>
  <div [hidden]="environment.is_game_over()">
    Player {{environment.player_turn==1?'X':'O'}}'s turn
  </div>
</h1>

<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let grid of environment.board ; let i = index">
    <button mat-raised-button disableRipple
    color="{{grid==1?'primary': grid==-1?'accent': 'basic'}}"
    (click)="human_player_move(i)"
    >{{grid==1?'X':grid==-1?'O':'.'}}</button>
  </mat-grid-tile>
</mat-grid-list>

<div [hidden]="!environment.is_game_over()">
  <button mat-raised-button color="primary" (click)="environment.reset_game()">Reset</button>
</div>



<button mat-raised-button (click)="train_agents()">Train Agent</button>
