<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Hello!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <p>
          I'm Hong Jing, you can call me Jingles. A data scientist with four years of machine learning industry experience in the area of natural language processing and recommendation systems. Working on a range of classification and optimisation problems. Ability to deliver innovative solutions accurately and efficiently solve challenging business problems. Nimble and agile professional to deliver solutions in a rapidly changing environment. Curious and inquisitive with a constant desire to learn and pioneer new uses for machine learning. [<a href="http://jinglescode.github.io" target="_blank">Read More</a>]
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->

<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="flex-start">
  <div *ngFor="let showcase of showcases" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
    <div style="padding:10px;">
      <a href="{{showcase.link}}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{showcase.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{showcase.description}}
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<!-- <mat-card>
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('./assets/home/logo-alibaba.jpg');background-size: cover;"></div>
    <mat-card-title>Currently at <a href="https://www.alibabagroup.com">Alibaba Group</a>...</mat-card-title>
    <mat-card-subtitle>2017 to present</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <img src="./assets/home/about-taobao.jpg" alt="At Alibaba Shen Zhen" style="float:left; max-height:400px; margin:10px; "/>
        <p>This year, I've been traveling to Hangzhou throughout the year, working with <a href="https://www.alibaba.com/">Alibaba</a> counterparts. My main focus this year is to work on recommendations systems for campaigns (such as double 11) and vouchers recommendation.</p>
        <h3>My involvement in campaigns</h3>
        <p>As my modules are shown at the top and throughout the main campaign page, the purpose is to improve click through rate (CTR) and conversion rate. My modules recommends a list of categories and shops which are personalised for every users. I've built 2 types of models for CTR, parameter server logistic regression and Wide and Deep model, and challenges to improve CTR from previous campaigns.</p>
        <h3>Recommends the best vouchers to the right person</h3>
        <p>For vouchers, my models and modules recommends voucher for every user to improve redemption rate which converts to sales. I also built voucher redemption model to predict every customer spending habits, type of vouchers users collect and redeem, and did A/B testing to validation every model performance.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('./assets/home/logo-dsta.png');background-size: cover;"></div>
    <mat-card-title>Previously, at <a href="https://www.dsta.gov.sg/">Defence Science and Technology Agency</a>...</mat-card-title>
    <mat-card-subtitle>2014 to 2017</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <p>A statutory board, of the <a href="https://www.mindef.gov.sg/">Singapore Ministry of Defence</a>. My role is focusing on natural language processing and fleet management system.</p>
        <h3>Built a text analytic web app</h3>
        <p>As there are a many ad-hoc requests to analyse text data from surveys or documents, I built a user friendly text analytic web-based app for corporate staffs. I further improve it by understanding the pain points users faced at their work, and by getting their feedback from using the tool. Users upload their data and the backend server will extract topics and topic/entity-level sentiments. Users can explore their data from the interactive dashboard and further analyse the data by slicing the data by decomgraphics and search functions. This reduced time taken to analyse and report by eliminating the time spent on reading lengthy documents. Frontend is built on Angular, and backend is Python with Flask, TensorFlow, Spacy and various packages.</p>
        <h3>Predict possible machine failures</h3>
        <p>I'm also involve in 1) analysis of sensor data of engines from naval ships, 2) accident logs from vehicles, and 3) failure logs from aircrafts. The findings from my analysis matches the domain knowledge of subject matter experts, thus gaining trust and confidence from users that data science is applicable for them. I am also part of the team that designed and developed prototype for showcasing fleet management systems, which has gained many approval and funding, from both internal staffs and external ministers.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('./assets/home/logo-ntu.jpg');background-size: cover;"></div>
    <mat-card-title>During my time in <a href="https://www.ntu.edu.sg/">Nanyang Technological University</a>...</mat-card-title>
    <mat-card-subtitle>2011 to 2014</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <p>Graduated with Second Upper Honors in Computer Science. Focusing on machine learning, data structure, algorithms, natural language processing and artificial intelligence. I also did my internship in Institut supérieur d'électronique de Paris as a research scientist for data center load balancing algorithm using cost aware prediction. My final year project is on keyword ambiguity search within XML documents, by providing user suggestion words that disambiguate their search. For example, when a user is searching for "Cambridge", machine suggested "UK" or "MA" to disambiguate the search tree.</p>
        <img src="./assets/home/about-robot.jpg" alt="NTU robotics project" style="float:left; max-height:200px; margin:10px; "/>
        <h3>Led 8 person team on a robotics project</h3>
        <p>Our team were 2nd place (out of 30 teams) to explore the obsticle map and finding the shortest path from assigned point A to point B. This robotics project has 3 main parts, logic (on raspberry pi), hardware (on arduino), and control & display (on android). There are many challenges, from the hardware such as power supply affecting calibrated motors, irregular readings from sensors, to limitation on processing power on the raspberry pi. Integrating every components and leading a team to work together within 10 weeks. Watch the final report on <a href="https://www.youtube.com/watch?v=1xrpDKF9mj0">Youtube</a>.</p>
        <h3>I'm very involved in <a href="http://ntucac.com/">Cultural Activities Club</a></h3>
        <p>I was the Media and IT Director, in the 21st Executive Committee. I managed a committee of 20, provided video coverage for 23 performing arts events, managed 2 web development projects, and directed our very own <a href="https://www.youtube.com/watch?v=M5ax5IdOTsE">corporate video</a>. On my 2nd year, I was the Chief Publicity & Publications, in Arts from the Heart, a charity committee that bring joy and fundraising to the less fortunate children through activities. Managed a team of 5, designed T-shirts, posters, stage backdrop, voucher coupons, videos for our activities.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>And I enjoy...</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxFlex>
        <img src="./assets/home/about-freediving.jpg" alt="Freediving" style="float:right; max-height:300px; margin:10px; "/>
        <p><a href="https://en.wikipedia.org/wiki/Freediving">Freediving</a>! I enjoy being in the water, especially if there are fishes. My best record for static breath hold is 4 mins and 50 seconds, and longest single breath swim across the pool is 90 metres. I have only managed to dive in a few places around the warm waters in south east asia.</p>
        <p>I also enjoy traveling, especially if it is a road trip with scenary and good food. My favorite road trip experience is in Hokkaido. Road trip from Gold Cost to Great Ocean Road and horse riding at Alpine National Park was very memorable too. I hope to do a US/Canada road trip one day.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->
