<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Reinforcement Learning : Tic Tac Toe</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      A simple reinforcement learning algorithm for agents to learn tic tac toe.
    </p>

    <p>
      You can train the agent, where 2 agents will be created and trained through simulation. You can adjust the 1) learning rate and probability of exploration of each agent. After training, you can play against agent 1.
    </p>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxFlex="40%">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h1>Train Agent</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">

          <mat-form-field appearance="outline">
            <mat-label>Number of Episodes</mat-label>
            <input matInput placeholder="" [(ngModel)]='input_episodes'>
            <mat-hint>Number of times agent play against each other in simulation</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agent 1 Explore Probability</mat-label>
            <input matInput placeholder="" [(ngModel)]='input_agent1_explore_probability'>
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agent 1 Learning Rate</mat-label>
            <input matInput placeholder="" [(ngModel)]='input_agent1_learning_rate'>
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agent 2 Explore Probability</mat-label>
            <input matInput placeholder="" [(ngModel)]='input_agent2_explore_probability'>
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agent 2 Learning Rate</mat-label>
            <input matInput placeholder="" [(ngModel)]='input_agent2_learning_rate'>
            <mat-hint></mat-hint>
          </mat-form-field>

        </div>

      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button (click)="train_agents()">Train Agent</button>
        <button color="primary" mat-raised-button (click)="agent_simulation()">Agent Simulation</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title><h1>Play against agent</h1></mat-card-title>
        <mat-card-subtitle>
          Agent skill level: {{agentA.skill_level}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div fxLayout="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
          <div fxFlex="60%">
            <mat-grid-list cols="3" rowHeight="3:1">
              <mat-grid-tile *ngFor="let grid of environment.board ; let i = index">
                <button mat-raised-button disableRipple
                color="{{grid==1?'primary': grid==-1?'accent': 'basic'}}"
                (click)="human_player_move(i)"
                >{{grid==1?'X':grid==-1?'O':'.'}}</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div fxFlex>
            <mat-grid-list cols="3" rowHeight="3:1">
              <mat-grid-tile *ngFor="let prob of agent_probability ; let i = index">
                {{prob}}
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>


      </mat-card-content>
      <mat-card-actions>
        <div [hidden]="!environment.is_game_over()">
          <div [hidden]="environment.winner==0">
            Game ended, player {{environment.winner==1?'X':'O'}} won
          </div>
          <div [hidden]="environment.winner!=0">
            Tie
          </div>
        </div>
        <div [hidden]="environment.is_game_over()">
          Player {{environment.player_turn==1?'X':'O'}}'s turn
        </div>

        <div [hidden]="!environment.is_game_over()">
          <button mat-raised-button color="primary" (click)="play_again()">Reset</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!--
<h1>
  <div [hidden]="!environment.is_game_over()">
    <div [hidden]="environment.winner==0">
      Game ended, player {{environment.winner==1?'X':'O'}} won
    </div>
    <div [hidden]="environment.winner!=0">
      Tie
    </div>
  </div>
  <div [hidden]="environment.is_game_over()">
    Player {{environment.player_turn==1?'X':'O'}}'s turn
  </div>
</h1>

<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let grid of environment.board ; let i = index">
    <button mat-raised-button disableRipple
    color="{{grid==1?'primary': grid==-1?'accent': 'basic'}}"
    (click)="human_player_move(i)"
    >{{grid==1?'X':grid==-1?'O':'.'}}</button>
  </mat-grid-tile>
</mat-grid-list>

<div [hidden]="!environment.is_game_over()">
  <button mat-raised-button color="primary" (click)="play_again()">Reset</button>
</div> -->
